#NextButton {
    position: fixed;
    right: 10%;
    bottom: 5%;
    font-size: 35px !important;
    border-radius: 30px !important;
    width: 60px;
    height: 60px;
    padding: 0 !important;

    transition: bottom .5s !important;
}

#NextButton.hidden {
    bottom: -10%;
}

#HeaderContainer {
    /* removes some whitespace */
    display: none;
}

/* repeating the class gives this rule priority over qualtrics stuff */
.QuestionBody.QuestionBody {
    padding: 0 !important;
}

.question-map {
    height: 50vh;
}

.listen-first {
    display: none;
    color: #e11;
}
